---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers,
  -readability-identifier-naming

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*'
FormatStyle: file

CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
...
